body {
    background-color: #FFFFFF;
    color: #212121;
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    color: #2196F3;
}

.logo-studio {
    color: #000000;
}

.logo-studio-white {
    color: #FFFFFF;
}

/* Site nav */

.site-nav a {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
color: #212121;
}

.site-nav .link.current {
    color: #2196F3;
}

.contacts-list a {
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}



/* Hero */

.main-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}

.page, .info {
    background-color: #2F303A;
}

.advantages-title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages-desc {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.occupation-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team-title{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team {
    background-color: #F5F4FA;
}

.name {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    background-color: #FFFFFF;
}

.workers {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.position {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.category {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.location {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
}

.contacts-item {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
}

/* Button */

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    text-decoration: none;
    border: none;
    
}

.button-primary {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    text-decoration: none;
    width: 73px;
    height: 38px;
    left: 512px;
    top: 174px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-secondary.site {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    text-decoration: none;
    width: 125px;
    height: 38px;
    left: 593px;
    top: 174px;
    border: none;
    border-radius: 4px;
}

.button-secondary.apps {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    text-decoration: none;
    width: 112px;
    height: 38px;
    left: 726px;
    top: 174px;
    border: none;
    border-radius: 4px;
}

.button-secondary.design {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    text-decoration: none;
    width: 103px;
    height: 38px;
    left: 846px;
    top: 174px;
    border: none;
    border-radius: 4px;
}

.button-secondary.marketing {
    color: #212121;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    height: 38px;
    left: 957px;
    top: 174px;
    border: none;
    border-radius: 4px;
}